<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link href="/static/css/admin.css" rel="stylesheet">
</head>
<body>
    <h1>Users</h1>
    <table id="usersTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Recovery code</th>
            </tr>
        </thead>
        <tbody>
            {% for s in users %}
            <tr>
                <td>{{s[0]}}</td>
                <td>{{s[1]}}</td>
                <td>{{s[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>